html {
    box-sizing: border-box;
}
.sidebar-nav {
    margin-top: 15px;
    padding: 2;
    list-style: none;
    background: pink;
    #height: 100%;
    #width: 25%;
}
#div {
    #    height: 50%;
    #    width: 10%;
    #    background-color: cyan;
    
#ß}
